<!DOCTYPE html>
<html>
    <%- include("includes/head")%>
    <body>
        <%- include("includes/header")%>
        <main>
            <!--= sign escapes the HTML, so that it's not rendered as actual html on the page-->
            <h1><%= post.title%></h1>
            <article>
                <small>Posted by <%=post.username%> on <%=new Date(post.createdDate).getMonth() + 1%>/<%=new Date(post.createdDate).getDate()%>/<%=new Date(post.createdDate).getFullYear()%></small>
                <div><%= post.body%></div>
            </article>

            <a href="/edit-post/<%=post.id%>" class="button">Edit Post</a>

        </main>
        <%- include("includes/footer")%>
    </body>
</html>