<!DOCTYPE html>
<html>
    <!--here you use - because you want to include the raw html that you wrote-->
    <!--you want to include that html exactly how it is so use the - sign, it's including all the html stored in the ejs file like a variabke-->
    <!--usually you don't want to include the - sign because it can be considered unsafe and display malicious HTML-->
    <!--but this is html that we wrote so we know it's safe and we're okay with using it-->
    <!--ejs templates also have js embedded in them, so it can be rendered on the server-->
    <%- include("includes/head")%>
    <body>
        <%- include("includes/header")%>
        <main>
            <!--post creates new user -->
            <!--form action tells what to do-->
            <form action="/edit-post/<%=post.id%>" method="POST">
            <!--this adds JS that shows the error, when using js, just use %-->
            <% errors.forEach(error => { %>
                <!--the = makes it escape the output html. it turns the variable into the text it's supposed to say-->
                <p class="notice"><%= error %></p>
            <% }) %>
            <fieldset>
                <legend>Edit Existing Entry</legend>
                <label for="title"><small>Title</small></label>
                <input type="text" value="<%=post.title%>"id="title" name="title">
                <label for="body"><small>Description</small></label>
                <textarea name="body" id="body"><%=post.body%></textarea>
                <br/>
                <button>Save Changes</button>
            </fieldset>
            </form>
        </main>
        <%- include("includes/footer")%>
    </body>
</html>